/* Reset default margin & padding */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    /* Background image */
    background: url('../assets/bg.jpg') no-repeat center center/cover;

    /* Full screen height */
    height: 100vh;
}

/* Centering container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Card styling */
.card {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 12px;
    width: 320px;

    text-align: center;

    /* shadow */
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* Heading */
.card h2 {
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}

/* Input fields */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;

    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;

    background-color: orange;
    border: none;
    border-radius: 6px;

    color: white;
    font-size: 16px;

    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: darkorange;
}

/* Link text */
p {
    margin-top: 15px;
}

/* Link style */
a {
    color: orange;
    text-decoration: none;
}